// @font-face {
//     font-family: sacramento-regular;
//     src: url('./fonts/Sacramento-Regular.ttf')
// }


// $subways: (
// mta-red: #df0000;
// mta-green: #008700;
// mta-yellow: #FCCC0A;
// );



$mta-red: #df0000;
$mta-green: #008700;
$mta-blue: #0a5786;
$mta-orange: #de3700;
$mta-purple: #5a045a;
$mta-green-2: #4f8403;
$mta-yellow: #FCCC0A;
$mta-gray: #666;
$mta-brown: #573208;

$subways: (mta-red: $mta-red,
    mta-green: $mta-green,
    mta-blue: $mta-blue,
    mta-orange: $mta-orange,
    mta-purple: $mta-purple,
    mta-green-2: $mta-green-2,
    mta-yellow: $mta-yellow,
    mta-gray: $mta-gray,
    mta-brown: $mta-brown);

$icon-padding: .8em;

[class*="subway-icon"] {
    position: relative;
    font-size: .75em;
    z-index: 5;
    height: 1em;
    width: 1em;
    line-height: 1em;
    margin-left: $icon-padding/1.5;
    margin-right: $icon-padding/1.5;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: white;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: calc(100% + #{$icon-padding});
        height: calc(100% + #{$icon-padding});
        left: -($icon-padding / 2);
        top: -($icon-padding / 2);
        border-radius: 50%;
    }

    &.express {
        margin-left: $icon-padding/1.5;
        margin-right: $icon-padding/1.5;

        &::before {
            transform: rotate(45deg);
            border-radius: 0;
            width: calc(100% + #{$icon-padding / 4});
            height: calc(100% + #{$icon-padding / 4});
            left: -($icon-padding / 8);
            top: -($icon-padding / 8);
        }
    }
}

@each $value1,
$value2 in $subways {
    .#{$value1} {
        &::before {
            background-color: $value2;
        }

        @if $value2==$mta-yellow {
            color: #000;
        }

        @else {
            color: #fff;
        }
    }
}

.subway-line {
    align-items: stretch;
    margin-left: 20px;
}

// .subway-icon .mta-red {
//     color: #df0000;
// }


.fav-spots {
    background-image: url(./bk2.jpg);
    // height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
}

.profile-container {
    width: 100%;
    height: 80px;
    font-family: Sacramento-Regular;
    font-size: 28pt;
    padding-top: 20px;
}

.profile-navbar {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.stops-profile-wrapper {
    overflow: scroll;
    scroll-behavior: smooth;
}

.delete-stop {
    display: flex;
    justify-content: space-between;
}

.x-close-profile {
    font-family: monospace;
    font-size: 18pt;
    margin-left: 20px;
    margin-right: 20px;
    transition: background 0.5s;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 50%;
    &:hover {
        background-color: lightsalmon;
        cursor: pointer;
    }
    &:focus {
        background-color: lightsalmon;
        cursor: pointer;
    }
}

.fave-usernames{
    margin-left: 20px;
}

.profile-buttons-right {
    display: flex;
    margin-right: 15px;
    letter-spacing: 2px;
    line-height: 38px;
}

.go-home-button {
    background-color: #FFC7D6;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &:hover {
        box-shadow: none;
        cursor: pointer;
        transition: all ease .3s;
    }

}

.about-button {
    background-color: #FDE5AA;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:hover {
    box-shadow: none;
    cursor: pointer;
    transition: all ease .3s;
    }
}

.logout-button-profile {
    background-color: #A8D79C;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:hover {
        box-shadow: none;
        cursor: pointer;
        transition: all ease .3s;
    }
}

.my-favorites {
    margin-left: 20px;
    background-color: #B5B9FF;
    letter-spacing: 2px;
    line-height: 40px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.profile-body {
    // height: 100vh;
    // width: 100%;
    display: flex;
    justify-content: center;
}

.profile-sidebar {
    max-height: 600px;
    max-width: 300px;
    min-height: 200px;
    background-color: #FFC1D2;
    margin: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 12px solid rgb(253, 231, 178);
    border-radius: 25px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('https://pxelation-seeds.s3.amazonaws.com/1FBEF7BA-B22D-4818-985F-1EBE17F212E0_1_105_c.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid white;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    margin-bottom: 15px;
}

.fave-wrapper {
    margin-bottom: 30px;
}

.fave-wrapper li{
    font-size: 14pt;
    text-indent: 5px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

ul.drinks-list li {
    text-indent: 5px;
    font-size: 10pt;
    text-indent: 5px;
    font-family: 'Montserrat',
    sans-serif;
    margin-bottom: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

ul.desserts-list li {
    text-indent: 5px;
    font-size: 10pt;
    text-indent: 5px;
    font-family: 'Montserrat',
    sans-serif;
    margin-bottom: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.username-text {
    background-color: lightsalmon;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.drinks-list-parent {
    margin-top: 20px;
}

.profile-form {
    max-height: 600px;
    min-height: 200px;
    max-width: 700px;
    min-width: 200px;
    background-color: #FFC1D2;
    margin: 20px;
    background-color: #FFC1D2;
    height: 600px;
    max-width: 650px;
    z-index: 15;
    overflow: auto;
    border: 12px solid rgb(253, 231, 178);
    border-radius: 25px;
}

.profile-form h1 {
    background-color: #F29F7A;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    font-size: 32pt;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 15px;
    border-bottom: 4px dashed rgb(253, 231, 178);
    z-index: 999;

}

// .favorites-list-container {
//     width: 80%;
//     height: 80%;
// }

.stops-list li {
    padding-left: 10px;
}

ol.stops-list {
    margin-left: 20px;
}


