.map-container-div {
    // background-color: pink;
    // margin-top: 50px;
    // padding: 15px;
    height: 70vh;
    border-radius: 25px;
    // box-sizing: border-box;
    border: 12px solid #FFC1D2;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // position: absolute center !important;
}

.martini-map-color {
     height: 70vh;
     border-radius: 25px;
     border: 12px solid #62D0BD;
     box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2),
     0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#map {
    width: 100% !important;
}

.splash-map-container {
    margin-left: 50px;
    margin-right: 50px;
}