.map-container-div {
    background-color: #F8EC6B;
    margin-top: 50px;
    padding: 15px;
    padding-right: 2015px;
    padding-bottom: 815px;
    // border: solid 5px yellow;
    border-radius: 25px;
}