.map-container-div {
    // background-color: pink;
    margin-top: 50px;
    // padding: 15px;
    height: 70vh;
    border-radius: 25px;
    // box-sizing: border-box;
    border: 18px solid #F8EC6B;
    // position: absolute center !important;
}

#map {
    width: 100% !important;
}

.splash-map-container {
    width: 100%;
}