.modal-title {
    text-align: center;
}

.businesses {
    margin: 10px
}

.modal-header {
    position: sticky;
    top: 0;
    border-bottom: 4px dashed rgb(253,231,178);
    width: 100%;
    height: 60px;
    align-items: center;
    text-align: center;
    background-color: #FFC1D2;
    font-family: Sacramento-Regular;
    font-size: 40px;
}

.business-list {
    margin-right: 8px;
}

.x-close-modal{
    position: absolute;
    top: 0px;
    right: 0px;
}

.x-close-modal:hover{
    border-radius: 50%;
    margin-top: 3px;
    background-color: rgb(206,122,144);
    opacity: .90;
}

 button.x-close-button {
    font-family: monospace;
    font-size: 18pt;
     height: 40px;
     margin: 5px;
     width: 40px;
     display: flex;
     align-items: center;
     text-align: center;
     justify-content: center;
     transition: background 0.5s;
 }

// .modal-header-drink {
//     position: sticky;
//     top: 0;
//     border-bottom: 4px dashed rgb(253, 231, 178);
//     width: 100%;
//     height: 60px;
//     align-items: center;
//     text-align: center;
//     background-color: #74D4C4;
//     font-family: Sacramento-Regular;
//     font-size: 40px;
// }

