.modal-title {
    text-align: center;
}

.businesses {
    margin: 10px
}

.modal-header {
    position: sticky;
    top: 0;
    border-bottom: 4px dashed rgb(253,231,178);
    width: 100%;
    height: 60px;
    align-items: center;
    text-align: center;
    background-color: #FFC1D2;
    font-family: Sacramento-Regular;
    font-size: 40px;
}

// .modal-header-drink {
//     position: sticky;
//     top: 0;
//     border-bottom: 4px dashed rgb(253, 231, 178);
//     width: 100%;
//     height: 60px;
//     align-items: center;
//     text-align: center;
//     background-color: #74D4C4;
//     font-family: Sacramento-Regular;
//     font-size: 40px;
// }