.spot-index-item {
    display: flex;
    // margin-bottom: 20px;
    width: 200px;
    height: 200px; 
    


        img {
            width: 200px;
            height: 200px;
            margin-right: 10px;
            border-radius: 10px;
        }

        .index-dessert {
            width: 100%;
            font-family: Sacramento-Regular;
            font-size: 35px;
            max-height: 105px;
            margin-left: 3px;
            margin-right: 3px;
        }

         .index-drink {
             width: 250px;
             font-family: Sacramento-Regular;
             font-size: 35px;
             max-height: 105px;
         }

        .index-item-address {
            width: 250px;
            font-family: Sacramento-Regular;
            font-size: 15px;
            margin-left: 3px;
            margin-right: 3px;
        }

        .index-item-phone {
            width: 240px;
            font-family: Sacramento-Regular;
            font-size: 15px;
            display: flex;
            justify-content: flex-end;
            margin-left: 3px;
            margin-right: 3px;
        }

        .index-item-review {
            font-style: italic;
            font-size: 12pt;
            margin-top: 10px;
            margin-left: 3px;
            margin-right: 3px;
        }

}