.signup-logo-video {
  height: 500px;
  width: 500px;
}

.signup-form-child {
  height: 400px;
  top: -60px;
}

.signup-container {
  // height: 100%;
  justify-content: flex-start;
}

.signup-logo-container {
  position: relative;
  transform: scale(.9);
    top: -86px;
    img {
      z-index: -1;
    }
}

.signup-form {
    position: relative;
    top: -110px;
    transform: scale(.9);
}
